/*
  * _custom.scss
  * SASS styling for Agents Online
  * Create Date: 03/10/2014
  * Author: Edward G. Lee
*/

/* Contents
==================================================
  Color For Development
  Mixins
  Global Styles
  Partials
*/

/* Color For Development
================================================== */

/** {
  background: rgba(0,0,0,.05);
}
$body-border-color: $body-font-color;
*/

$body-border-color: #d1d2d1;

/* Mixins
================================================== */

@import "mixins";

/* Global styles
================================================== */

// Wide Screen Sizing
.max-width-wide-screen {
  max-width: 1320px !important;
}

/* extend max-row-width for wide screens */
/*@include respond("min-width: 1441px") {
  //$row-max-width: 1280px;
}*/

// Main
.main-row {
  @include row();
} // main-row

a:active {
  color: $color-blue-light;
}

// Page
.page-heading-container {
  margin-bottom: 20px;
  border-bottom: 1px solid $body-border-color;
}

.page-heading {
  color: $color-blue-dark;
  font-size: 24px;
  font-weight: 700;
}

.page-sub-heading {
  @extend .page-heading;
  font-size: 16px;
  text-transform: uppercase;
}

.page-sub-heading-inset-one {
  @extend .page-sub-heading;
  font-size: 14px;
  font-weight: 400;
}

.page-sub-heading-container {
  border-bottom: 1px solid $body-border-color;
  margin-bottom: 10px;
  @include padding-left-right(20px);
  @include respond(all-phones) {
    @include padding-left-right(0);
  }
}

.page-sub-heading-container-inset-one {
  @extend .page-sub-heading-container;
  @include padding-left-right(40px);
  @include respond(all-phones) {
    @include padding-left-right(0);
  }
}
.page-content-container {
  @include padding-left-right(20px);
  @include respond(all-phones) {
    @include padding-left-right(0);
  }
}

.page-table-container {
  @include padding-left-right(10px);
  @include respond(all-phones) {
    @include padding-left-right(0);
  }
}

.page-table-container-inset-one {
  @include padding-left-right(30px);
  @include respond(all-phones) {
    @include padding-left-right(0);
  }
}


/* Partials
================================================== */

@import "icons";

// Site Structure
@import "header";
@import "nav";


// Pages
@import "pages/portal";
@import "pages/help";
@import "pages/my-contacts";